body {
    margin: 0px;
}

p {
    margin: 0px;
}

ul {
    list-style: none;
    color: white;
    padding-left: 15px;
    margin-bottom: 0px;
}
.osnovna {
    width: 1200px;
    height: 800px;
}

.wraper {
    position: relative;
    background-image: url("../images/011.jpg");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.article {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30%;
    background-color: rgba(255, 0, 0, 0.6);
    height: 100%;
}

.header {
    color: white;
    padding-left: 15px;
    text-transform: uppercase;
    margin-top: 0px;
}

.description {
    color: white;
    padding-left: 15px;
    padding-right: 15px;

}

.navigation {
    position: absolute;
    display: inline-block;
    bottom: 0px;
    right: 0px;

    height: 5%;
    width: 30%;
    z-index: 3;

    background-color: rgba(255, 0, 0, 0.6);
    line-height: 250%;
    font-family: Monospace;
    font-size: 120%;
    font-weight: bold;
    text-transform: uppercase;
}


p.view {
    float: left;
    height: 100%;
    width: 65%;
    text-align: left;
    color: white;
    padding-left: 15px;
    border-right: 1px solid black;

}
p.view:hover {
    color: black;
}

.prev {
    float: left;
    height: 100%;
    text-align: center;
    width:15%;
    color: white;

    border-right: 1px solid black;
}
.prev:hover {
    color: black;
}

.next {
    float: right;
    height: 100%;
    text-align: center;
    width:15%;
    color:white;
}
.next:hover {
    color: black;
}