@use 'colors' as *;

.border-top {
  &__green {
    border-top: 5px solid $color-brand-green;
  }
}

.site-icon {
  --site-icon: none;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  color: inherit;
  background-color: currentColor;
  -webkit-mask-image: var(--site-icon);
  mask-image: var(--site-icon);
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.row.equal-height {
  display: flex;
  flex-wrap: wrap;
}

.row.equal-height > .col {
  display: flex;
}

.row.equal-height .card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row.equal-height .content-fill {
  flex: 1;
}

.waves-effect.waves-brown .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
  background-color: rgba(121, 85, 72, 0.65);
}

