body {
    margin: 0px;
}

p {
    margin: 0px;
}

h2 {
    text-transform: uppercase;
}

div.out {
    position: relative;
    display: table-cell;
    text-align: right;
}

img {
    max-width: 1335px;
    float: left;

}

div.in {
    display: inline-block;
    position:absolute;
    z-index: 2;

    right: 0px;
    top:0px;
    bottom:0;
    float: left;
    width:30%;

    background-color: rgba(255,0,0, 0.6);
    color:white;

    font-size:16px;
    text-align: left;
}

div.inn {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 0px;

    z-index: 3;

    height: 6%;
    width: 30%;
    background-color: rgba(255,0,0, 0.6);
}

p.view {
    float: left;
    height: 100%;
    width: 69.5%;
    text-align: left;

    border-right: 1px solid black;
}
p.view:hover {
    color: white;
}

p.left {
    float: left;
    height: 100%;
    text-align: center;
    width:15%;

    border-right: 1px solid black;
}
p.left:hover {
    color: white;
}

p.right {
    float: right;
    height: 100%;
    text-align: center;
    width:15%;
}
p.right:hover {
    color: white;
}

ul {
    list-style: none;
}