/* 
    Created on : Oct 15, 2014, 3:37:43 PM
    Author     : Nikola Randjelovic
*/
body {
    margin: 0px;
}
div.out {
    display: table-cell;
    width: 1500px;
    height: 100%;
// vertical-align: top;
    text-align: right;
    background-image: url("images/003.jpg");
}


div.inm {
    display: inline-block;
    width: 25%;
    height: 100%;
    text-align: left;
}

div.in {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
div.inn {
    height: 50px;
    width: 100%;
    background-color: rgba(0,0,0, 0.6);
}

.in p {
    margin: 0px;
}

.in h2 {
    margin: 0px;
}