@media only screen and (min-width: 601px) and (max-width: 992px) {
  main {
    .experience {
      &__timeline {
        padding-left: 164px;

        &::before {
          left: 136px;
        }
      }

      &__timeline-date {
        left: -164px;
        width: 112px;
        font-size: .82rem;
      }

      &__metrics {
        .col {
          width: 50%;
        }
      }

      &__foundation-layout {
        gap: 16px;
      }
    }
  }

  .references {
    &__carousel-container {
      height: 360px;
    }

    &__track {
      width: 100% !important;
    }

    &__carousel-item {
      padding: 0 32px;
    }

    &__card {
      max-width: 100%;
      padding: 32px 24px 72px;
    }

    &__controls {
      top: auto;
      right: 32px;
      bottom: 32px;
      flex-direction: row;
      width: auto;
    }

    &__control {
      &--next {
        margin-right: 12px;
        margin-bottom: 0;
      }
    }

    &__carousel {
      height: auto !important;

      .indicators {
        bottom: 36px;
      }
    }
  }

  .interests {
    &__card {
      min-height: 460px;
    }

    &__card__content {
      padding: 26px 24px 20px;
    }

    &__meta {
      padding: 16px 24px 20px;
    }
  }

  .contact {
    &__intro {
      margin: 2rem 0 3rem;
      padding-right: 0;
      text-align: center;
    }

    &__title {
      font-size: 3rem;
      letter-spacing: .03em;
    }

    &__description {
      font-size: 1.1rem;
    }
  }
}

