<section id="references" class="section references" aria-labelledby="references-title">
    <div class="layout-col layout-col--s-12 u-flow u-center references__header">
        <span id="references-eyebrow" class="references__eyebrow light-green-text"></span>
        <h2 id="references-title"></h2>
        <p id="references-intro"></p>
    </div>

    <div class="layout-row">
        <div class="layout-col layout-col--s-12 layout-col--m-12 layout-col--l-12 references__carousel">
            <div class="ui-card references__carousel-container">
                <div
                        class="references__track u-center"
                        id="references-track">
                </div>

                <div class="references__controls">
                    <button
                            type="button"
                            class="references__control references__control--next"
                            aria-label="Next reference">
                        <span
                                class="site-icon"
                                style="--site-icon: url('../icons/lucide/chevron-right.svg')"
                                aria-hidden="true"></span>
                    </button>

                    <button
                            type="button"
                            class="references__control references__control--prev"
                            aria-label="Previous reference">
                        <span
                                class="site-icon"
                                style="--site-icon: url('../icons/lucide/chevron-left.svg')"
                                aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
