@use '../base/colors' as *;

footer {
  .container {
    max-width: 1200px;

    .icon {
      &__link {
        width: 45px;
        height: 45px;
        position: relative;
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        font-size: 0;

        transition: transition, background-color .25s linear 0s;

        &:hover {
          background-color: $color-border-default;
          text-decoration: none;
        }

        i {
          line-height: 45px;
        }

        .site-icon {
          width: 24px;
          height: 24px;
          margin-top: 10px;
        }
      }
    }
  }

  .footer-copyright {
    height: 100px;
  }
}

