main {
  .container {
    max-width: 1200px;

    section {
      h2 {
        margin-top: 5rem;
        color: #3d4451;
        text-transform: uppercase;
        letter-spacing: 3px;
      }
    }
  }
}

